*_version.h
.DS_Store
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
install_manifest.txt
_*.h
*.sublime-project
*.sublime-workspace
*.deb
build/
_build/
opt/
*.pkg
*.mpkg
*.zip
*.rar
*.psd
*.app*
*.app/
deps/
doc/
docs/
html/
latex/
doxygen/
_packages/
_releases/

